
/* *TOC */
/* Utility Classes (general styling) */
/* Header */
/* Footer */
/* Model Page */
/* Media Queries */

@charset "UTF-8";

:root {
  --bkgd: #ffffff;
  --primary: #295939;
  --secondary: rgb(215, 231, 210);
  --bkgd-grey: #444;
  --bkgd-light-grey: rgb(223, 223, 223);
  --primary-light: #316b44;
  --light-opacity: rgba(0,0,0,0.04);
  --dark-opacity: rgba(0,0,0,0.08);
  --loading-overlay: rgba(0,0,0,0.4);
  --txt-light-grey: rgb(110, 110, 110);
  --txt-med-grey: rgb(80, 80, 80);
  --txt-default: rgb(68, 68, 68);
}


body {
    font-family: 'Google+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: var(--bkgd);
    text-align: left;
    color: var(--txt-default);
    line-height: 1.6;
    font-size: 18px;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

p {
    font-family: 'Google+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}


/* utility classes */

.wrapper, .header-wrapper, .footer-wrapper {
    max-width: 650px;
    padding: 0 10px;
    margin: 0 auto;
}

.page-contents {
    padding: 40px 0 50px;
    min-height: calc(100vh - 180px);
}

.page-404 {
    margin: 50px 0 500px;
    text-transform: uppercase;
}

.page-title {
    margin: 0.7em 0;
}

.uppercase-title {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 5px 0;
}

.invisible {
    display: none;
}

.emph-line {
    height: 4px;
    width: 65px;
    display:block;
    background-color: var(--primary);
    border-radius: 2px;
    margin-top: 15px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.small-text {
    font-size: 12px;
}

.fig-spinner {
    color: var(--primary);
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: calc(50vh - 40px);
    left: 0;
}

#grey-screen-wrapper-m > div .dash-spinner {
    background-color: var(--loading-overlay);
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    top: -15px;
    left: 0;
}

#grey-screen-wrapper-ps > div .dash-spinner {
    background-color: var(--loading-overlay);
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    top: -15px;
    left: 0;
}

#grey-screen-wrapper-ps > div .dash-spinner::after {
    content: "Loading: should only take a few seconds...";
    color: white;
    position: absolute;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: var(--loading-overlay);
    border-radius: 5px;
    
}

.my-button {
    background-color: var(--primary);
    border-radius: 25px;
    color: white;
    margin: 0.5em auto;
    padding: 0.2em 0;
    text-align: center;
    font-size: 24px;
    width: 100%;
    cursor: pointer;
}

.my-button:hover {
    background-color: var(--primary-light);
}

.error-modal {
    width: 300px;
    margin-top: -50px;
    margin-left: -150px;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 10px;
    align-content: end;
    text-align: center;
    z-index: 1;
    background-color: var(--secondary);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: block;
}


/* end of UC */



/* header */

.navLink-dt {
    color: var(--txt-med-grey);
    padding: 10px 10px;
    font-size: 0.9em;
    border-radius: 2px;
    text-align: center;
    width: 160px;
}

.navLink-mb {
    color: var(--txt-default);
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 2px;
    width: 100%;
    display: block;
    text-align: center;
}

.navLink-dt:hover, .navLink-mb:hover {
    color: black;
    text-decoration: none;
    background-color: var(--dark-opacity);
}

#menu-button {
    grid-row: 1;
    grid-column: 2;
    float: right;
}

#hamburger {
    width: 25px;
    margin: 14px 5px 0 0;
    cursor: pointer;
}

#mobile-navs {
    background-color: var(--secondary);
    width: 100vw;   
    position: absolute;
    top: 50px;
    left: 0;
}

#nav-menu {
    padding: 10px;
    border-bottom: 1px solid var(--primary);
}

#nav-menu div {
    margin: 5px 0;
}

.desktop-links {
    margin: auto -20px auto auto;
    float: right;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: auto auto auto;
}

.show-desktop {
    display: none;
}

.hide-desktop {
    display: block;
}




/* footer */

.footer-link-cont {
    display: grid;
    grid-template-columns: auto;
}

.footer-links {
    background-color: var(--secondary);
    padding: 10px 0;
}

.footer-navlink {
    color: var(--primary);
    padding: 0.2em 1em;
}

.footer-navlink:hover {
    text-decoration: none;
    color: var(--primary);
    background-color: var(--dark-opacity);
}

.foot-container {
    color: white;
    padding: 40px 0;
    background-color: var(--bkgd-grey);
}


footer {
    text-align: center;
    width: 100%;
}

.footer-txt {
    color: white;
    padding: 5px;
    border-radius: 2px;
    display: block;
}

.footer-txt:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
}



/* model page */


.model-page {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

.controls {
    /* position: static; */
    /* top: 50px; */
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 50px;
    height: min-content;
    max-width: calc(100vw - 20px);
}

.figure-cont {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    height: min-content;
    max-width: calc(100vw - 20px);
    position: relative;
}

/* #fig-cont-model {
} */

.control-wrapper {
    margin: 20px auto 25px;
    max-width: 350px;
}

.control-label {
    color: var(--txt-light-grey);
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
}

/* radio items label */
.control-wrapper label {
    margin-bottom: 0;
    font-size: 16px;
}

.SingleDatePicker_picker {
    z-index: 2;
    /* make sure visible above other elements */
}

.fig-cont {
    margin: 20px 0;
}

.control-collapse-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    margin: 10px 0;
}

.down-arrow {
    height: 30px;
    margin: 0 0 -5px 10px;
}

.text-with-arrow {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: flex-start;
    width: 100%;
    padding-left: 0.6em;
    background-color: var(--light-opacity);
    cursor: pointer;
    border-radius: 2px;
    margin: 5px 0;
}

.text-with-arrow:hover {
    background-color: var(--dark-opacity);
}


/* data tables: */
.table-container {
    margin: 20px 0px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/* ps page */

.VirtualizedSelectOption {
    overflow: wrap;
    font-size: 14px;
    cursor: pointer;
}

.Select-value, .Select-value-label {
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
}




/* Explanation page */

.image {
    width: 90%;
    margin: 20px auto;
}




/* Media Queries - 768 for tablets, 1024 for desktop, 1300ish for large desktop */
@media only screen and (min-width: 1024px){
    /* add styles for desktop */
    .show-desktop {
        display: grid;
    }

    .hide-desktop {
        display: none;
    }

    .wrapper, .header-wrapper, .footer-wrapper {
        max-width: 900px;
    }

    .home-cont {
        display: grid;
        margin-top: 100px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-around;
    }

    .home-title {
        grid-column: 1;
        grid-row: 1;
        width: 550px;
        /* margin-top: 0.2em; */
        text-align: left;
    }

    .home-subtitle {
        grid-column: 1;
        grid-row: 2;
        /* margin-top: 0.1em; */
        text-align: left;
    }
    
    .home-logo {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 2;
        align-self: end;
        /* justify-self: center; */
        margin: 0;
    }

    .model-page {
        grid-template-columns: 335px minmax(0, 1fr);
        grid-gap: 30px;
        align-content: start;
    }

    .page-contents {
        padding: 30px 0 120px;
    }

    .controls {
        position: sticky;
        top: 50px;
        margin: 0;
    }

    .sticky-desktop {
        position: sticky;
        top: 50px;
    }

    .footer-link-cont {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .fig-spinner {
        width: 200px;
        left: calc(50vw + 82.5px);
    }    

}

@media only screen and (min-width: 1300px){
    /* add styles for large desktop */

    .wrapper, .header-wrapper, .footer-wrapper {
        max-width: 1200px;
    }

}