/* *TOC */
/* utility classes (general styling) */
/* header */
/* footer */
/* Home */
/* Model page */
/* media queries (resize for different devices) */

@charset "UTF-8";

:root {
  --secondary: #ecf4ff;
  --bkgd: rgb(255, 255, 255);
  --txt-grey: #6d6d6d;
  --link-grey: rgb(80, 80, 80);
}


body {
    font-family: 'Google+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: var(--bkgd);
    text-align: left;
    color: #444;
    line-height: 1.6;
    font-size: 18px;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

p {
    font-family: 'Google+Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}


/* utility classes */
.wrapper, .header-wrapper, .footer-wrapper {
    max-width: 650px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    align-content: center;
    justify-content: space-between;
}

.page-contents {
    margin: 40px 0 50px;
    min-height: 400px;
}

.page-404 {
    margin: 50px 0 500px;
}


.page-title {
    margin: 0.7em 0;
}






/* header */

.navLinkTitle {
    color: black;
    font-size: 1.3em;
    padding: 15px 10px;
    margin-left: -10px;
}

.navLink {
    color: var(--link-grey);
    padding: 15px 10px;
}

.navlink-mb {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 0.9em;
}


.website-name {
    grid-row: 1;
    grid-column: 1;
    margin-top: 7px;

    text-align: left;
    justify-self: left;
    padding-left: 0;
}

#menu-button {
    grid-row: 1;
    grid-column: 2;
    float: right;
}

#hamburger {
    width: 25px;
    margin: 14px 5px 0 0;
    cursor: pointer;
}

#nav-menu {
    background-color: var(--secondary);
    margin: -10px 0 10px;
    padding: 5px 0;
}

#main-nav-links {
    text-align: left;
    
    align-self: start;
    
    padding-top: 12px;

    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;    
}


.desktop-links {
    margin: auto 0 auto auto;
    float: right;
    font-size: 1.1em;
    text-decoration: none;
    justify-content: space-between;
    width: 300px;
}

.rightmost-link {
    margin-right: -10px;
}


#mobile-navs {
    background-color: #ebebeb;
    font-size: 1.1em;
}

.navLinkTitle:hover, .navLink:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(226, 225, 225);
    border-radius: 2px;
}

.show-desktop {
    display: none;
}

.hide-desktop {
    display: block;
}





/* footer */

.footer-link-cont {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-links {
    background-color: var(--secondary);
    padding: 10px 0;
}

.foot-container {
    color: white;
    padding: 40px 0;
    background-color: #444;
}


footer {
    text-align: center;
    width: 100%;
}

/* Home */

.home-title {
    margin-top: 50px;
    font-size: 3em;
    text-align: center;
}

.home-subtitle {
    margin-top: 0.5em;
    font-weight: 100;
    text-align: center;
}

.home-logo {
    width: 200px;
    margin: 50px auto;
}


/* Model page */

.controls {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 50px;
}

.uppercase-title {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 15px 0 25px;
}

.control-label {
    color: var(--txt-grey);
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
}

.control-wrapper {
    margin: 20px 0;
}

.model-page {
    display: grid;
    grid-template-columns: auto;
}

.figure-cont {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
}

/* #model-fig-title {
    margin: 15px 0 25px;
} */



/* media queries - 768 for tablets, 1024 for desktop, 1300ish for large desktop */
@media only screen and (min-width: 1024px){
    /* add styles for desktop */
    .show-desktop {
        display: flex;
    }

    .hide-desktop {
        display: none;
    }

    #main-nav-links {
        grid-row: 1;
        grid-column: 2;
        grid-column-start: 2;
        
        align-self: start;
    }

    .wrapper, .header-wrapper, .footer-wrapper {
        max-width: 900px;
    }

    .home-cont {
        display: grid;
        margin-top: 100px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-around;
    }

    .home-title {
        grid-column: 1;
        grid-row: 1;
        width: 550px;
        /* margin-top: 0.2em; */
        text-align: left;
    }

    .home-subtitle {
        grid-column: 1;
        grid-row: 2;
        /* margin-top: 0.1em; */
        text-align: left;
    }
    
    .home-logo {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 2;
        align-self: end;
        /* justify-self: center; */
        margin: 0;
    }

    .model-page {
        grid-template-columns: 300px auto;
        grid-gap: 30px;
        align-content: start;
    }

}

@media only screen and (min-width: 1300px){
    /* add styles for large desktop */

    .wrapper, .header-wrapper, .footer-wrapper {
        max-width: 1200px;
    }


}